
{%extends 'core/base.html' %}
{%block title%}Acerca de {%endblock%}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg'%}{% endblock %}


{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>
{% endblock %}

{% block content %} 
<div class="row"> 
        <div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Ricardo J. Martínez Suástegui</h2>   
          <p>Nacido en la Ciudad de México el 12 de Marzo de 1993, egresado como Ingeniero Mecatrónico por la Universidad Nacional Autónoma de México</p>
          <p>Soy una persona comprometida con el trabajo, que le gusta afrontar retos de liderazgo, tenaz, con adaptabilidad, analítico y organizado, buscando 
             aplicar mi experiencia  y habilidades técnicas en las áreas de la automatización,
             control automático, planificación y control de producción, manufactura esbelta y dirección de proyectos.</p>
            <p>Idiomas: Inglés (Avanzado), Italiano (Básico), Alemán (Básico).</p>
            <p>Entre mis hobbies estan la lectura, bailar, el cine, la mágia, visitar museos y viajar.</p>
        </div>
</div>
{%endblock%}
