
{%extends 'core/base.html' %}
{%block title%}Contacto{%endblock%}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg'%}{% endblock %}


{% block headers %}
    <h1>Contacto</h1>
    <span class="subheading">Asesoria</span>
{% endblock %}

{% block content %} 
<div class="row"> 
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Si está interesado en iniciar algún proyecto de ingeniería o requiere más información sobre los proyectos realizados
            puede comunicarse por los siguientes medios:</p>
          <br>
          <p><b>Celular:</b> +52 55 14 52 18 28</p>
          <p><b>Honorarios:</b> 800 MNX/h (precio base)</p>
          <p><b>Correo Electrónico:<a href = "r.j.m.suastegui@gmail.com"> r.j.m.suastegui@gmail.com </a> </p>
        </div>
</div>
{%endblock%}
